.App {
  text-align: center;
}

table{
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}
tr{
  width: 80vw;
  height: 10px;
  border: 1px solid black;
}
td{
  width: 80vw;
  height: 10px;
  border: 1px solid black;
}
th{
  width: 80vw;
  height: 10px;
  border: 1px solid black;
}
tr:nth-child(even){
  background-color: aquamarine;
}